<!DOCTYPE html>
<html>
  <head>
    <title>None</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><'nigga'></h1>
    <p>Welcome to </p>
  </body>
</html>