<%- include ./partials/header %>
  <h1>Inicial</h1>
  <p>Bem vindo!</p>


  <body>
    <div class="container-fluid">
      <h1>Dados do Jogador da NBA</h1>
      <pre id="resultado"></pre>
    <div class="container-fluid" id="0">
      
    </div>
      <div class="row" id="69">
      </div>
    </div>

    <%- include ./partials/footer %>
    <script type="module" src="/script.js" defer></script> <!-- Importa o JS interno -->

  </body>

  </html>
